
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 10% 14%;
    --foreground: 0 0% 98%;
    --card: 220 12% 18%;
    --card-foreground: 0 0% 98%;
    --popover: 220 12% 18%;
    --popover-foreground: 0 0% 98%;
    --primary: 259 80% 75%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 15% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 15% 20%;
    --muted-foreground: 220 10% 70%;
    --accent: 220 15% 25%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 15% 20%;
    --input: 220 15% 20%;
    --ring: 259 80% 75%;
    --radius: 0.5rem;
  }
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  @apply bg-[#1A1A1A] text-foreground antialiased;
}
